@import url(/node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(/node_modules/font-awesome/css/font-awesome.min.css);
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.burgerOff {
  display: none;
}

.burger-menu div {
  background-color: rgb(248, 246, 246);
  margin-bottom: 1em;
  width: 100%;
  height: 4px;
}

.burger-menu div:last-child {
  margin: 0;
}

.burgerList {
  display: none;
  color: white;
}

/*Wenn der Burger Knopf gedrückt wird*/

#burgerOn:target .burgerList {
  display: list-item;
  width: 100%;
  background-color: rgb(248, 246, 246, 0.9);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  align-items: center;
  list-style: none;
  z-index: 1;
  text-transform: capitalize;
  font-size: larger;
  font-weight: bold;
  color: #3e3e3e;
}
a {
  text-decoration: none;
  color: #484a4a;
}
a:hover {
  text-decoration: none;
  color:lightcoral;
}
#burgerOn:target .burgerOff {
  display: block;
}

#burgerOn:target .burgerBtn {
  display: none;
}

#burgerOn:target {
  flex-wrap: wrap;
}

main {
  background-color: #746e6e;
  padding-top: 120px;
  padding-bottom: 120px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #f9004d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #04aa6d;
}

.container,
.cont-2, .wrapper{
  width: 400px;
  height: 500px;

  border-radius: 5px;
  background-color: #7a7676;
  padding: 20px;
  box-shadow: 8px 10px 15px 7px #9c9999;
  animation: slit-in-vertical 0.45s ease-out both;
}
section img {
  box-shadow: 8px 10px 15px 7px #928f8f;
  border: 5px solid rgba(38, 40, 42, 0.82);
  border-radius: 30px;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.txt span {
  text-transform: uppercase;
  font-size: large;

  color: #484848;
  animation: color 2s infinite;
}

@keyframes color {
  0% {
    text-shadow: none;
    color: #484848;
  }

  90% {
    text-shadow: none;
    color: #484848;
  }

  100% {
    text-shadow: 0 0 10px rgb(210, 35, 35), 0 0 20px rgb(250, 12, 20);
    color: rgb(186, 47, 144);
  }
}

.txt span:nth-child(1) {
  animation-delay: 0;
}
.txt span:nth-child(2) {
  animation-delay: 0.1s;
}
.txt span:nth-child(3) {
  animation-delay: 0.3s;
}
.txt span:nth-child(4) {
  animation-delay: 0.4s;
}
.txt span:nth-child(5) {
  animation-delay: 0.5s;
}

.txt span:nth-child(6) {
  animation-delay: 0.6s;
}
.txt span:nth-child(7) {
  animation-delay: 0.7s;
}
.txt span:nth-child(8) {
  animation-delay: 0.9s;
}

.email a::before {
  font: var(--fa-font-solid);
  content: "\f0e0";
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
}
.address p{
  color: white;
  text-transform: capitalize;
}
.address p:hover{
  color: rgb(7, 7, 7);
}
.tel,
.email, .address a {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tel a::before {
  font: var(--fa-font-solid);
  content: "\f1e5";
  width: 45px;
  height: 45px;
  padding: 10px;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
.tel a:hover, .address a:hover,
.email a:hover {
  background:lavender;
  color: black;
  border-radius: 8px;
}
.address i{width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;}
.contact i {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.contact i:hover {
  transform: scale(1.3);
}
.contact a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}
section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 60px;
}

@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
.circle {
  display: flex;
  align-items: flex-end;
  margin-right: 100px;
}
.circle h1:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}


*:after,
*:before {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #efefef;
}
/* for demo */

div#calendar {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
table {
  width: 100%;
  font-family: sans-serif;
  border-collapse: separate;
  border-spacing: 0;
}
.head_cal {
  background: #fff;
  color:rgb(199, 67, 67);
  font-size: 2rem;
  line-height: 5rem;
  text-transform: uppercase;
}
.subhead_cal {
  background: #dc6155;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
}
.week_cal {
  background: #fff;
  color: #d7d7d7;
  font-size: 1rem;
  line-height: 2rem;
}
.white_cal {
  background: #ececec !important;
}
tbody.days_cal tr td a {
  padding: 0;
  text-decoration: none;
  background: #fff;
  color: #888;
  height: 3.2rem;
  width: 100%;
  line-height: 3.2rem;
  display: block;
}
tbody.days_cal tr td {
  padding: 0;
  margin: 0;
  border: 1px solid #ececec;
  text-align: center;
  width: 14.28571428571429%;
  height: auto;
}
.event {
  color: #85ff97 !important;
  transition: all 0.3s ease;
}
.today_cal.event {
  background: #ff8d8d !important;
  color: #fff !important;
  transition: all 0.3s ease;
}
.today_cal.event:hover,
.event:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}
.week_event {
  color: #85baff;
}
#calendar_data {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #c5c5c5;
  opacity: 0;
  visibility: hidden;
  transform: scale(0, 0);
  transition: all 0.8s ease;
}
 
#calendar_data h3 {
  text-align: center;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0;
  background: #f2f2f2;
  color: #43aeef;
  border-bottom: 1px solid #dfdfdf;
  text-transform: capitalize;
}
#calendar_data dl {
  padding: 0.5em;
  margin-left: 0;
  display: block;
  height: calc(100% - 4rem);
}
#calendar_data dt {
  float: left;
  clear: left;
  width: 5rem;
  text-align: left;
  font-size: 0.8rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #43b0ef;
  background: #fff;
  padding: 0.2rem;
}
#calendar_data dd {
  margin: 0 0 1rem 5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #adadad;
  border-bottom: 1px solid #eaeaea;
}
#calendar_data dd:last-child {
  border: none;
}
 
#calendar_data a:not(.hideEvent) {
  color: #43aeef;
  border: 0.1rem solid #43aeef;
  padding: 0.2rem 1rem;
  text-decoration: none;
}
.show_data {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1, 1) !important;
  transition: all 0.2s ease;
}
 
.hideEvent {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background: #f2f2f2;
  border-left: 0.1rem solid #e5e5e5;
  color: #d3d3d3 !important;
}
.hideEvent:hover {
  text-decoration: none;
  color: #f55;
}
 